<div id="page-content">
<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Welcome to the RailsBlog</h1>
    <p class="lead">This is a simple Ruby on Rails Blog Application.</p>
    <hr class="my-4">
    <p>Built by Rajinder Bhogal</p>
    <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up</a>
    </p>
  </div>
</div>
</div>

