@import "bootstrap/scss/bootstrap";

.navbar {
    background-color: black !important;
}

.nav-link {
    color: white !important;
}

#logo {
    float: left;
    font-size: 1.9em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.form-inline {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .jumbotron {
      background-color: lightgrey;
  }